/*Continuum*/

.continuum-viewport {
  display: flex;
  width: 100vw;
  overflow: visible;
}

.continuum {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  font-size: 0;
}

.c-image-set-one {
  display: flex;
  will-change: transform;
  animation: 65s kf_one infinite linear;
}

.c-image-set-two {
  display: flex;
  will-change: transform;
  animation: 65s kf_two infinite linear;
}

.c-image {
    display: inline-block;
    width: 80vw;
    height: 20vw;
    background-position: center 0;
    background-size: 100%;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 901px) {
    .c-image {
    width: 140vw;
    height: 40vw;
    }
}

/*Each image set must have an equal number of images*/

.c-image-set-one .c-image:nth-child(1) {
  background-image: url("../img/trv/trv-items2.png");
}
.c-image-set-one .c-image:nth-child(2) {
  background-image: url("../img/trv/trv-items1.png");
}

.c-image-set-two .c-image:nth-child(1) {
  background-image: url("../img/trv/trv-items1.png");
}
.c-image-set-two .c-image:nth-child(2) {
  background-image: url("../img/trv/trv-items2.png");
}



@keyframes kf_one {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-50%);
  }
  25.01% {   
    transform: translateX(150%);
  }
}

@keyframes kf_two {
  0% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-150%);
  }
  75.01% {
    transform: translateX(50%);
  }
}

/* @keyframes kf_two {
    0% {
      transform: translateX(0%;);
    }
    100% {
        animation-timing-function: steps(1, end);
        transform: translateX(-150%);
    }
} */