.content-peak {
    position: absolute;
    bottom: 0;
    margin-bottom: 17px;
    left: 0;
    opacity: 1;
    margin-left: 20px;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}
.section.is-expanded .content-peak {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
}

.content-peak p {
    font-size: .6rem;
    line-height: 12px;
    color: white;
    text-transform: uppercase; 
    letter-spacing: 1px;
    display: block;
}

.content-number h2 {
    position: absolute;
    right: 5px;
    z-index: -1;
    top: -30px;
    font-size: 5vw;
    color: rgba(0,0,0,.15);
    transition: all .3s ease-in-out;
    transform: scale(1);
}
@media only screen and (min-width: 601px) {
    .content-number h2 {
    top: -40px;
    }
}
@media only screen and (min-width: 993px) {
    .content-number h2 {
    top: -70px;
    font-size: 3vw;
    }
}
.section.is-expanded .content-number h2 {
    transform: scale(0);
}

.content-intro-image {
    display: block;
    margin-top: 30px;
    z-index: 100;
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    bottom: 0;
    width: 160%;
    left: -32%;
    opacity: 1;
    transition: all .3s ease-in-out;
}


.section.is-expanded .content-intro-image {
    opacity: 0;
}

.cover-image {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #fff;
  padding: 1vw;
  font-size: 2rem;
  font-weight: 300;
  transition: height 600ms cubic-bezier(0.4, 0.2, 0, 1), width 600ms cubic-bezier(0.4, 0.2, 0, 1), margin 600ms cubic-bezier(0.4, 0.2, 0, 1), background-position 600ms cubic-bezier(0.4, 0.2, 0, 1), opacity 300ms ease-in-out;
  -webkit-transition: height 600ms cubic-bezier(0.4, 0.2, 0, 1), width 600ms cubic-bezier(0.4, 0.2, 0, 1), margin 600ms cubic-bezier(0.4, 0.2, 0, 1), background-position 600ms cubic-bezier(0.4, 0.2, 0, 1), opacity 300ms ease-in-out;
}
@media only screen and (max-width: 601px) {
    .cover-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    }
}

.section.is-expanded .cover-image {
    height: 5%;
    opacity: 1;
    margin-top: 3vh;
    margin-left: 5%;
    width: 20%;
    max-width: 180px;
}
@media only screen and (max-width: 601px) {
    .section.is-expanded .cover-image {
    margin-left: -3%;
    width: 40%;
    }
}

.content-intro {
    position: relative;
    width: 100%;
    margin: 5vh 0vw 5vh 0vw;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 601px) {
    .content-intro {
    margin-top: 1vh;
    }
}

.content-intro h1 {
    color: white;
    font-family: 'Avalon', sans-serif;
    margin-bottom: 0;
    font-size: 3.3rem;
    line-height: 3.4rem;
}
@media only screen and (max-width: 601px) {
    .content-intro h1 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 15px;
    font-size: 2rem;
    line-height: 2rem;
    }
}
@media only screen and (min-width: 1100px) {
    .content-intro h1 {
    font-size: 4.4rem;
    line-height: 4.6rem;
    }
}
@media only screen and (min-width: 1850px) {
    .content-intro h1 {
    font-size: 5.4rem;
    line-height: 5.6rem;
    }
}

.content-category {
    font-weight: bold;
    margin-top: -25px;
    position: relative;
    text-align: center;
    top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.4);
    font-size: .8rem;
    line-height: 1rem;
}
@media only screen and (max-width: 601px) {
    .content-category {
    margin-top: 25px;
    }
}

.content-description {
    font-size: .9rem;
    max-width: 500px;
    color: white;
    margin-top: 10px;
}
@media only screen and (max-width: 601px) {
    .content-description {
    margin: 20px;
    }
}

.content-area {
    padding: 20vh 5vw 17vh 5vw;
    background: white;
    position: relative;
    z-index: 10;
}
@media only screen and (max-width: 601px) {
    .content-area {
    padding: 60px 20px;
    }
}


.content-area__offset-hero {
    padding-top: 43vh;
}
@media only screen and (max-width: 801px) {
    .content-area__offset-hero {
    padding-top: 26vh;
    }
}
@media only screen and (max-width: 601px) {
    .content-area__offset-hero {
    padding-top: 20vh;
    }
}

.header-area {
    margin-bottom: -30vh;
    padding-bottom: 0;
    position: relative;
}
@media only screen and (max-width: 601px) {
    .header-area {
    margin-bottom: -5vh;
    }
}

.header-circle:after {
    position: absolute;
    content: '';
    left: calc(50% - 60px);
    margin-top: -35px;
    width: 120px;
    height: 120px;
    border: 3px solid #F2F2F2;
    border-radius: 50%;
    z-index: -1;
}

.content-curve {
    width: 100%;
    position: relative;
    height: auto;
    left: 0;
    margin-top: -100px;
    margin-bottom: -10px;
}

.content-curve svg {
    width: 100%;
    height: auto;
}

.content-hero {
    position: relative;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
    margin-bottom: -40vw;
}

.c-debrief-content {
    margin-top: 5vh;
}

.c-debrief-content h2 {
    margin-bottom: 80px;
}
@media only screen and (max-width: 601px) {
    .c-debrief-content h2 {
    margin-bottom: 40px;
    }
}

.c-debrief__line {
    width: 50px;
    height: 2px;
    background: #d8d8d8;
    margin: -40px auto 40px auto;
}
@media only screen and (max-width: 601px) {
    .c-debrief__line {
    margin: -10px auto 40px auto;
    }
}

.c-debrief__title {
    font-family: 'Avalon', sans-serif;
    font-size: 1.4rem;
    padding-bottom: 10px;
    color: #444444;
}
@media only screen and (max-width: 601px) {
    .c-debrief__title {
    padding-bottom: 5px;
    }
}

.c-image-text-overlay {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    padding: 250px 5vw;
    background: darkgray;
    background-image: url(../img/dots.png);
    background-size: cover;
}
@media only screen and (max-width: 601px) {
    .c-image-text-overlay {
    padding: 100px 5vw;
    }
}

.c-image-text-overlay h6 {
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2.6rem;
}

.c-image-text {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 601px) {
    .c-image-text {
    display: block;
    }
    .c-image-text img {
    margin-bottom: 30px;
    }
}

.c-image-fullwidth {
    background: white;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

.c-image-fullwidth__padding {
    padding: 10vw;
}

.c-border {
    width: 100%;
    position: relative;
    height: 1px;
    background: #EBEBEB;
}