.hero {
    position: relative;
    text-align: center;
    padding: 0 10px;
    /*overflow: hidden;*/
    z-index: 1;
    display: flex;
    height: 76vh;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin: 0 auto 10vh 0;;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .hero {
    padding: 0 0px;
    height: 66vh;
    }
}

.hero__center-text {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.hero h1 {
    padding-bottom: 20px;
    font-size: 7.5rem;
    line-height: 7rem;
    letter-spacing: -9px;
}
@media only screen and (max-width: 1000px) {
    .hero h1 {
    font-size: 5rem;
    line-height: 4.6rem;
    letter-spacing: -7px;
    }
}
@media only screen and (max-width: 600px) {
    .hero h1 {
    font-size: 2.6rem;
    line-height: 2.4rem;
    padding-bottom: 0;
    letter-spacing: -4px;
    }
}

.hero p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .hero p {
    max-width: 75%;
    }
}

.highlight-blue {
    color: #137AE2;
}

.highlight-yellow {
    color: #E5B10C;
}

.highlight-purple {
    color: #7954D3;
}

.highlight-black {
    color: #333333;
}

.highlight-pink {
    color: #FF3390;
}

.hero-image__work {
    opacity: .3;
    pointer-events: none;
    top: 3vh;
    width: 100%;
    height: 70vh;
    max-height: 700px;
    position: absolute;
    background-image: url(../img/bg-work.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
    .hero-image__work {
    top: 5vh;
    height: 50vh;
    }
}

.hero-image__vector {
    opacity: .8;
    pointer-events: none;
    top: -4vh;
    width: 100%;
    height: 90vh;
    max-height: 800px;
    position: absolute;
    background-image: url(../img/bg-vector.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
    .hero-image__vector {
    top: -4vh;
    height: 70vh;
    }
}

.hero-image__motion {
    opacity: .3;
    pointer-events: none;
    top: 3vh;
    width: 100%;
    height: 70vh;
    position: absolute;
    background-image: url(../img/bg-motion.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
    .hero-image__motion {
    background-size: 80%;
    top: -5vh;
    }
}

.hero-image__about {
    opacity: .3;
    pointer-events: none;
    top: 3vh;
    width: 100%;
    height: 70vh;
    max-height: 700px;
    position: absolute;
    background-image: url(../img/bg-about-white.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
@media only screen and (max-width: 600px) {
    .hero-image__about {
    background-size: 70%;
    top: -4vh;
    }
}

.about2 {
    z-index: -1;
}

.revealer-text-yellow {
    background-color: #E5B10C;
}

.revealer-text-purple {
    background-color: #7854CF;
}

.revealer-text-pink {
    background-color: #FF3390;
}

.revealer-text-white {
    background-color: #FFFFFF;
}

.reveal-text-white {
    color: #FFFFFF;
}

.reveal-text-pink {
    color: #FFFFFF;
}

.white-text {
    color: white;
}
