h1, h2, h3, h4, h5, h6 {
    color: #444444;
    font-family: 'gilroyextrabold';
    margin-top: 0px;
    margin-bottom: 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 600px) {
    h1, h2, h3, h4, h5, h6 {
    font-family: 'gilroyextrabold';
    }
}

h1 {
    font-size: 3.5rem;
    line-height: 52px;
    letter-spacing: -2px;
}
@media only screen and (max-width: 600px) {
    h1 {
    font-size: 2.4rem;
    line-height: 38px;
    }
}
@media only screen and (min-width: 1100px) {
    h1 {
    font-size: 4.4rem;
    line-height: 68px;
    }
}


h2 {
    font-size: 2.4rem;
    line-height: 44px;
    letter-spacing: -2px;
}
@media only screen and (max-width: 600px) {
    h2 {
    font-size: 2rem;
    line-height: 30px;
    }
}
@media only screen and (min-width: 1100px) {
    h2 {
    font-size: 3.5rem;
    line-height: 52px;
    }
}

h3 {
    font-size: 2.4rem;
    line-height: 2.5rem;
    letter-spacing: -2px;
}
@media only screen and (max-width: 600px) {
    h3 {
    font-size: 2rem;
    line-height: 2.1rem;
    }
}
@media only screen and (min-width: 1100px) {
    h3 {
    font-size: 2.6rem;
    line-height: 2.7rem;
    }
}

h4 {
    font-size: 1.8rem;
    line-height: 28px;
    letter-spacing: 0px;
}
@media only screen and (max-width: 600px) {
    h4 {
    font-size: 1.6rem;
    line-height: 26px;
    letter-spacing: 0px;
    }
}

h5 {
    font-size: 1.4rem;
    line-height: 26px;
    letter-spacing: 0px;
}
@media only screen and (max-width: 600px) {
    h5 {
    font-size: 1.2rem;
    line-height: 24px;
    letter-spacing: 0px;
    }
}

h6 {
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0px;
}
@media only screen and (max-width: 600px) {
    h6 {
    font-size: 1rem;
    line-height: 20px;
    }
}

p {
    font-size: .9rem;
    line-height: 1.7rem;
    font-family: 'Avenir';
    font-weight: bold;
    color: #999999;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media only screen and (max-width: 600px) {
    p {
    font-weight: normal;
    }
}

a {
    font-family: 'gilroyextrabold', sans-serif;
    font-size: .875rem;
    color: #F851BD;
    cursor: pointer;
    text-decoration: none;
}

.bold-header {
    font-weight: bold;
    color: #444444;
    letter-spacing: 2px;
    margin: 10px 0;
}

.center-text {
    text-align: center;
}
@media only screen and (max-width: 601px) {
    .center-text {
    text-align: left;
    }
}

.left-text {
    text-align: left;
}
