h1, h2, h3, h4, h5, h6 {
    color: #444444;
    font-family: 'Avalon';
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1, h2 {
    letter-spacing: -2px;
}

h3, h4, h5, h6 {
    letter-spacing: 0em;
}

h1 {
    font-size: 3.5rem;
    line-height: 52px;
}
@media only screen and (max-width: 600px) {
    h1 {
    font-size: 2.4rem;
    line-height: 38px;
    }
}
@media only screen and (min-width: 1100px) {
    h1 {
    font-size: 4.4rem;
    line-height: 68px;
    }
}


h2 {
    font-size: 2.4rem;
    line-height: 44px;
}
@media only screen and (max-width: 600px) {
    h2 {
    font-size: 2rem;
    line-height: 30px;
    }
}
@media only screen and (min-width: 1100px) {
    h2 {
    font-size: 3.5rem;
    line-height: 52px;
    }
}

h3 {
    font-size: 2.6rem;
    line-height: 3rem;
}
@media only screen and (max-width: 600px) {
    h3 {
    font-size: 2.2rem;
    line-height: 2.8rem;
    }
}
@media only screen and (min-width: 1100px) {
    h2 {
    font-size: 3rem;
    line-height: 3.4rem;
    }
}

h4 {
    font-size: 1.8rem;
    line-height: 28px;
}
@media only screen and (max-width: 600px) {
    h4 {
    font-size: 1.6rem;
    line-height: 26px;
    }
}

h5 {
    font-size: 1.4rem;
    line-height: 26px;
}
@media only screen and (max-width: 600px) {
    h5 {
    font-size: 1.2rem;
    line-height: 24px;
    }
}

h6 {
    font-size: 1rem;
    line-height: 20px;
}
@media only screen and (max-width: 600px) {
    h6 {
    font-size: 1rem;
    line-height: 20px;
    }
}

p {
    font-size: .9rem;
    line-height: 1.4rem;
    font-family: 'Avenir';
    font-weight: bold;
    color: #777777;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bold-header {
    font-weight: bold;
    color: #444444;
    letter-spacing: 2px;
    margin: 10px 0;
}

.center-text {
    text-align: center;
}